html, body {
	margin: 0;
	height: 100%; 
	line-height: 1.6;
}

body.about {
    padding: 30px 20px 50px;
    font-family: 'montserratlight', Arial, sans-serif;
    background: rgb(77,106,121);
    color: white;
    max-width:80vw;
    margin:0 auto;
}

img {
	max-width:100%;
	margin:0 auto;
}

a {
	color:#FDCA40;
	text-decoration:underline;
	font-family: 'montserratmedium', Arial, sans-serif;
}

a:hover,
a:focus {
	color:#FF9F1C;
}

span {
	font-family: 'montserratlight', Arial, sans-serif;
}

iframe {
	postion: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
	     url('../fonts/montserrat-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	text-align:center;
}

.contact-box {
	width:40vw;
	height: 25px;
	background-color:#4d6a79;
	z-index:1;
	position:absolute;
	top:0;
	right:0;
	text-align:right;
	padding: 10px 20px;
	color:white;
}

.center {
	margin:10px auto;
	text-align: center;
}
